PCFET0NUWVBFIGh0bWw+CjxodG1sIGxhbmc9ImVuIj4KPGhlYWQ+CiAgICA8
bWV0YSBjb250ZW50PSJ3aWR0aD1kZXZpY2Utd2lkdGgsIGluaXRpYWwtc2Nh
bGU9MSIgbmFtZT0idmlld3BvcnQiIC8+CiAgICA8bWV0YSBjb250ZW50PSJL
bm93bGVkZ2UgQ29udGludXVtIiBwcm9wZXJ0eT0ib2c6c2l0ZV9uYW1lIi8+
CiAgICA8bWV0YSBjb250ZW50PSJBIG5vbi1saW5lYXIgdGhyZWFkIG9mIGlt
cG9ydGFudCBpZGVhcyB3ZWF2ZWQgdG9nZXRoZXIgdG8gZXhwbG9yZSBhbmQg
dW5kZXJzdGFuZCB0aGUgZmFicmljIG9mIGtub3dsZWRnZS4iIHByb3BlcnR5
PSJvZzpkZXNjcmlwdGlvbiI+CiAgICA8bWV0YSBjb250ZW50PSJ7eyBzaXRl
LnVybCB9fS9hYm91dC8iIHByb3BlcnR5PSJhcnRpY2xlOmF1dGhvciI+Cgog
ICAgeyUtIGlmIHBhZ2UudGl0bGUgLSV9CiAgICA8bWV0YSBjb250ZW50PSJ7
eyBwYWdlLnRpdGxlIH19IiBwcm9wZXJ0eT0ib2c6dGl0bGUiPgogICAgPG1l
dGEgY29udGVudD0iYXJ0aWNsZSIgcHJvcGVydHk9Im9nOnR5cGUiPgogICAg
PG1ldGEgY29udGVudD0ie3sgc2l0ZS51cmwgfX17eyBwYWdlLnVybCB9fSIg
cHJvcGVydHk9Im9nOnVybCI+CgogICAgPHNjcmlwdCB0eXBlPSJhcHBsaWNh
dGlvbi9sZCtqc29uIj4KICAgICAgICB7CiAgICAgICAgICAiQGNvbnRleHQi
OiJodHRwczovL3NjaGVtYS5vcmcvIiwKICAgICAgICAgICJAdHlwZSI6IkRh
dGFzZXQiLAogICAgICAgICAgIm5hbWUiOiJ7eyBwYWdlLnRpdGxlIH19IiwK
ICAgICAgICAgICJkZXNjcmlwdGlvbiI6Int7IGNvbnRlbnQgfCBzdHJpcF9o
dG1sIHwgc3RyaXAgfCBlc2NhcGUgfCB0cnVuY2F0ZTogMjAwfX0iLAogICAg
ICAgICAgInVybCI6Int7IHNpdGUudXJsIH19e3sgcGFnZS51cmwgfX0iLAog
ICAgICAgICAgImtleXdvcmRzIjpbeyUgZm9yIHRhZyBpbiBwYWdlLnRhZ3Mg
JX0ie3sgdGFnIH19InslIHVubGVzcyBmb3Jsb29wLmxhc3QgJX0seyUgZW5k
dW5sZXNzICV9eyUgZW5kZm9yICV9XSwKICAgICAgICAgICJsaWNlbnNlIiA6
ICJodHRwczovL2NyZWF0aXZlY29tbW9ucy5vcmcvcHVibGljZG9tYWluL3pl
cm8vMS4wLyIsCiAgICAgICAgICAiaXNBY2Nlc3NpYmxlRm9yRnJlZSIgOiB0
cnVlLAogICAgICAgICAgImNyZWF0b3IiOnsKICAgICAgICAgICAgICJAdHlw
ZSI6Ik9yZ2FuaXphdGlvbiIsCiAgICAgICAgICAgICAidXJsIjogInt7IHNp
dGUuc291cmNlX3VybCB9fSwKICAgICAgICAgICAgICJuYW1lIjoie3sgc2l0
ZS5uYW1lIH19IiwKICAgICAgICAgICAgICJjb250YWN0UG9pbnQiOnsKICAg
ICAgICAgICAgICAgICJAdHlwZSI6IkNvbnRhY3RQb2ludCIsCiAgICAgICAg
ICAgICAgICAiY29udGFjdFR5cGUiOiAie3sgc2l0ZS5zb3VyY2VfY29udGFj
dF90eXBlIH19IiwKICAgICAgICAgICAgICAgICJ0ZWxlcGhvbmUiOiJ7eyBz
aXRlLnNvdXJjZV9waG9uZSB9fSIsCiAgICAgICAgICAgICAgICAiZW1haWwi
OiJ7eyBzaXRlLnNvdXJjZV9lbWFpbCB9fSIKICAgICAgICAgICAgIH0KICAg
ICAgICAgIH0sCiAgICAgICAgICAiaW5jbHVkZWRJbkRhdGFDYXRhbG9nIjp7
CiAgICAgICAgICAgICAiQHR5cGUiOiJEYXRhQ2F0YWxvZyIsCiAgICAgICAg
ICAgICAibmFtZSI6Int7IHNpdGUuc291cmNlX2NhdGFsb2cgfX0iCiAgICAg
ICAgICB9LAogICAgICAgICAgImRpc3RyaWJ1dGlvbiI6WwogICAgICAgICAg
ICB7JS0gaWYgcGFnZS5jc3ZfdXJsICE9ICcnIC0lfSAgIAogICAgICAgICAg
ICAgewogICAgICAgICAgICAgICAgIkB0eXBlIjoiRGF0YURvd25sb2FkIiwK
ICAgICAgICAgICAgICAgICJlbmNvZGluZ0Zvcm1hdCI6IkNTViIsCiAgICAg
ICAgICAgICAgICAiY29udGVudFVybCI6Int7IHBhZ2UuY3N2X3VybCB9fSIK
ICAgICAgICAgICAgIH0KICAgICAgICAgICAgIHslLSBlbmRpZiAtJX0KICAg
ICAgICAgICAgIHslLSBpZiBwYWdlLmNzdl91cmwgIT0gJycgYW5kICBwYWdl
Lmpzb25fdXJsICE9ICcnIC0lfSx7JS0gZW5kaWYgLSV9CiAgICAgICAgICAg
ICB7JS0gaWYgcGFnZS5qc29uX3VybCAhPSAnJyAtJX0gICAgIAogICAgICAg
ICAgICAgewogICAgICAgICAgICAgICAgIkB0eXBlIjoiRGF0YURvd25sb2Fk
IiwKICAgICAgICAgICAgICAgICJlbmNvZGluZ0Zvcm1hdCI6IkpTT04iLAog
ICAgICAgICAgICAgICAgImNvbnRlbnRVcmwiOiJ7eyBwYWdlLmpzb25fdXJs
IH19IgogICAgICAgICAgICAgfQogICAgICAgICAgICAgeyUtIGVuZGlmIC0l
fQogICAgICAgICAgXQogICAgICAgIH0KICAgICAgICA8L3NjcmlwdD4KCiAg
ICB7JS0gZWxzZSAtJX0KICAgIDxtZXRhIGNvbnRlbnQ9IndlYnNpdGUiIHBy
b3BlcnR5PSJvZzp0eXBlIj4KICAgIDxtZXRhIGNvbnRlbnQ9Int7IHNpdGUu
dXJsIH19e3sgcGFnZS51cmwgfX0iIHByb3BlcnR5PSJvZzp1cmwiPgogICAg
eyUtIGVuZGlmIC0lfQoKICAgIDx0aXRsZT57e3NpdGUudGl0bGV9fTwvdGl0
bGU+CgogICAgPGxpbmsgcmVsPSJjYW5vbmljYWwiIGhyZWY9Int7c2l0ZS51
cmx9fXt7cGFnZS51cmx9fSIvPgogICAgPGxpbmsgcmVsPSJhcHBsZS10b3Vj
aC1pY29uIiBocmVmPSJ7e3NpdGUucHJvZmlsZV9waWN9fSI+CiAgICA8bGlu
ayByZWw9InN0eWxlc2hlZXQiIHR5cGU9InRleHQvY3NzIiBocmVmPSJodHRw
czovL2NkbmpzLmNsb3VkZmxhcmUuY29tL2FqYXgvbGlicy9mb250LWF3ZXNv
bWUvNC43LjAvY3NzL2ZvbnQtYXdlc29tZS5jc3MiLz4KCiAgICA8bGluayBy
ZWw9Imljb24iIGhyZWY9Int7c2l0ZS5mYXZpY29ufX0iIHR5cGU9ImltYWdl
L3BuZyIgc2l6ZXM9IjE2eDE2Ii8+CiAgICA8bGluayBocmVmPSIvYXNzZXRz
L2Nzcy9zdHlsZXMuY3NzIiByZWw9InN0eWxlc2hlZXQiIG1lZGlhPSJhbGwi
Lz4KICAgIDxsaW5rIHJlbD0iYWx0ZXJuYXRlIiB0eXBlPSJhcHBsaWNhdGlv
bi9yc3MreG1sIiBocmVmPSJ7eyBzaXRlLnVybCB9fS9hdG9tLnhtbCI+Cjwv
aGVhZD4KCjxib2R5PgogICAgPGRpdiBjbGFzcz0iY29udGFpbmVyIj4gICAg
ICAgICAgICAgICAgICAgIAogICAgICAgIDxkaXYgY2xhc3MgPSAiYm94Ij4K
ICAgICAgICAgICAgCjxoZWFkZXI+CiAgICA8ZGl2IGNsYXNzPSJkYXNoYm9h
cmQgZGlzYWJsZS1zZWxlY3QiPgogICAgICAgIDxkaXYgY2xhc3M9InNpdGUt
aGVhZGluZyBwcm9maWxlLWJvYXJkLWNvbCI+CiAgICAgICAgICAgPGg0IGNs
YXNzPSJtZWRpdW0iPjxhIGhyZWY9Ii8iPnt7c2l0ZS50aXRsZX19PC9hPjwv
aDQ+CiAgICAgICAgPC9kaXY+CiAgICAgICAgPGRpdiBjbGFzcz0idXNlcmJv
YXJkIHByb2ZpbGUtYm9hcmQtY29sIj4KICAgICAgICAgICAgPGRpdiBjbGFz
cz0idXNlcm5hbWUiPgogICAgICAgICAgICAgICAgPHAgY2xhc3M9InRpdGxl
LXNhbnMiPjxhIGhyZWY9Ii9hYm91dCIgc3R5bGU9InRleHQtZGVjb3JhdGlv
bjogbm9uZTsiPnt7c2l0ZS5uYW1lfX08L2E+PC9wPgogICAgICAgICAgICA8
L2Rpdj4KICAgICAgICAgICAgPGRpdiBjbGFzcz0idXNlcmRlc2MiPgogICAg
ICAgICAgICAgICAgPHAgY2xhc3M9InRpdGxlLXNhbnMiPnt7c2l0ZS51c2Vy
X2Rlc2NyaXB0aW9ufX08L3A+CiAgICAgICAgICAgIDwvZGl2PiAKICAgICAg
ICA8L2Rpdj4KICAgIDwvZGl2PgogICAgPGRpdiBjbGFzcz0iYXZhdGFyIGRp
c2FibGUtc2VsZWN0IiB0aXRsZT0iY2xpY2sgbWUgdG8ga25vdyBtb3JlIj4K
ICAgICAgICA8YSBjbGFzcz0iYXZhdGFyLWxpbmsiIGhyZWY9Ii9hYm91dCI+
CiAgICAgICAgICAgIDxpbWcgc3JjPSJ7eyBzaXRlLnByb2ZpbGVfcGljIH19
IiBjbGFzcz0iYXZhdGFyLWltZyIgYWx0PSJhdmF0YXIiLz4KICAgICAgICA8
L2E+CiAgICA8L2Rpdj4KICAgIDxkaXYgY2xhc3M9Im1haW4tc2l0ZS1zdWJo
ZWFkZXIgbWVudSBkaXNhYmxlLXNlbGVjdCI+CiAgICAgICAgPGRpdiBjbGFz
cz0iaG9tZSI+CiAgICAgICAgICAgIDxhIHN0eWxlPSJ0ZXh0LWRlY29yYXRp
b246IG5vbmU7IiBocmVmPSIvYWJvdXQiPgogICAgICAgICAgICAgICAgPHN2
ZyBjbGFzcz0iaWNvbi1ob21lIiB3aWR0aD0iMTgiIGhlaWdodD0iMTkiIHZp
ZXdCb3g9IjAgMCAyNSAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93
d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgICAgICAgICAgICAgICAgICA8cGF0
aCBkPSJNMjAuOTc3NyAyMS42MTM4VjE5LjYxMzhDMjAuOTc3NyAxOC41NTMg
MjAuNTU2MyAxNy41MzU2IDE5LjgwNjEgMTYuNzg1NEMxOS4wNTYgMTYuMDM1
MyAxOC4wMzg2IDE1LjYxMzggMTYuOTc3NyAxNS42MTM4SDguOTc3NjhDNy45
MTY4MiAxNS42MTM4IDYuODk5NCAxNi4wMzUzIDYuMTQ5MjYgMTYuNzg1NEM1
LjM5OTExIDE3LjUzNTYgNC45Nzc2OCAxOC41NTMgNC45Nzc2OCAxOS42MTM4
VjIxLjYxMzgiICBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJy
b3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgogICAgICAgICAgICAg
ICAgICAgIDxwYXRoIGQ9Ik0xMi45Nzc3IDExLjYxMzhDMTUuMTg2OCAxMS42
MTM4IDE2Ljk3NzcgOS44MjI5OCAxNi45Nzc3IDcuNjEzODVDMTYuOTc3NyA1
LjQwNDcxIDE1LjE4NjggMy42MTM4NSAxMi45Nzc3IDMuNjEzODVDMTAuNzY4
NSAzLjYxMzg1IDguOTc3NjggNS40MDQ3MSA4Ljk3NzY4IDcuNjEzODVDOC45
Nzc2OCA5LjgyMjk4IDEwLjc2ODUgMTEuNjEzOCAxMi45Nzc3IDExLjYxMzha
IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ry
b2tlLWxpbmVqb2luPSJyb3VuZCIvPgogICAgICAgICAgICAgICAgPC9zdmc+
CiAgICAgICAgICAgICAgICA8cCBjbGFzcz0iaG9tZS1wIj5BYm91dDwvcD4g
IAogICAgICAgICAgICA8L2E+CiAgICAgICAgPC9kaXY+CiAgICAgICAgPGRp
diBjbGFzcz0iY2F0ZWdvcmllcyI+CiAgICAgICAgICAgIDxhIHN0eWxlPSJ0
ZXh0LWRlY29yYXRpb246IG5vbmU7IiBocmVmPSIvdGFncyI+CiAgICAgICAg
ICAgIDxzdmcgY2xhc3M9Imljb24tY2F0ZWdvcnkiIHdpZHRoPSIxOCIgaGVp
Z2h0PSIxOSIgdmlld0JveD0iMCAwIDI0IDI1IiBmaWxsPSJub25lIiB4bWxu
cz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgICAgICAgICAg
ICAgPHBhdGggZD0iTTQgOS41SDIwIiAgc3Ryb2tlLXdpZHRoPSIyIiBzdHJv
a2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4K
ICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik00IDE1LjVIMjAiICBzdHJva2Ut
d2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVq
b2luPSJyb3VuZCIvPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTEwIDMu
NUw4IDIxLjUiICBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJy
b3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgogICAgICAgICAgICAg
ICAgPHBhdGggZD0iTTE2IDMuNUwxNCAyMS41IiAgc3Ryb2tlLXdpZHRoPSIy
IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91
bmQiLz4KICAgICAgICAgICAgPC9zdmc+ICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgIAogICAgICAgICAgICA8cCBjbGFzcz0iY2F0ZWdvcmllcy1w
Ij5UYWdzPC9wPgogICAgICAgICAgICA8L2E+CiAgICAgICAgPC9kaXY+CiAg
ICAgICAgPGRpdiBjbGFzcz0icnNzIj4KICAgICAgICAgICAgPGEgc3R5bGU9
InRleHQtZGVjb3JhdGlvbjogbm9uZTsiIGhyZWY9Ii9hdG9tLnhtbCI+CiAg
ICAgICAgICAgICAgICA8c3ZnIGNsYXNzPSJpY29uLXJzcyIgd2lkdGg9IjE4
IiBoZWlnaHQ9IjE5IiB2aWV3Qm94PSIwIDAgMjQgMjUiIGZpbGw9Im5vbmUi
IHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICAgICAg
ICAgICAgICAgICAgPHBhdGggZD0iTTQgMTEuNUM2LjM4Njk1IDExLjUgOC42
NzYxMyAxMi40NDgyIDEwLjM2NCAxNC4xMzZDMTIuMDUxOCAxNS44MjM5IDEz
IDE4LjExMzEgMTMgMjAuNSIgIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxp
bmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CiAgICAg
ICAgICAgICAgICAgICAgPHBhdGggZD0iTTQgNC41QzguMjQzNDYgNC41IDEy
LjMxMzEgNi4xODU3MSAxNS4zMTM3IDkuMTg2MjlDMTguMzE0MyAxMi4xODY5
IDIwIDE2LjI1NjUgMjAgMjAuNSIgIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tl
LWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CiAg
ICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTUgMjAuNUM1LjU1MjI4IDIw
LjUgNiAyMC4wNTIzIDYgMTkuNUM2IDE4Ljk0NzcgNS41NTIyOCAxOC41IDUg
MTguNUM0LjQ0NzcyIDE4LjUgNCAxOC45NDc3IDQgMTkuNUM0IDIwLjA1MjMg
NC40NDc3MiAyMC41IDUgMjAuNVoiICBzdHJva2Utd2lkdGg9IjIiIHN0cm9r
ZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgog
ICAgICAgICAgICAgICAgPC9zdmc+ICAgIAogICAgICAgICAgICA8cCBjbGFz
cz0icnNzLXAiPkZlZWQ8L3A+CiAgICAgICAgICAgIDwvYT4KICAgICAgICA8
L2Rpdj4KICAgIDwvZGl2PgogICAgPGRpdiBjbGFzcz0ic2VhcmNoYmFyIHNl
YXJjaC1jb250YWluZXIiPgogICAgICAgIDxpIGNsYXNzPSJmYSBmYS1zZWFy
Y2giIGFyaWEtaGlkZGVuPSJ0cnVlIj48L2k+CiAgICAgICAgPGxhYmVsIGZv
cj0ic2VhcmNoLWlucHV0Ij48L2xhYmVsPgogICAgICAgIDxpbnB1dCB0eXBl
PSJ0ZXh0IiBvbmlucHV0PSJjaGFuZ2VSZXN1bHRDb250YWluZXJEaXNwKHRo
aXMudmFsdWUpIiBpZD0ic2VhcmNoLWlucHV0IiBhdXRvY29tcGxldGU9Im9m
ZiIgcGxhY2Vob2xkZXI9IlNlYXJjaCBEYXRhc2V0cyIvPgogICAgICAgIDx1
bCBpZD0icmVzdWx0cy1jb250YWluZXIiPjwvdWw+CiAgICA8L2Rpdj4KICAg
IDxzY3JpcHQgc3JjPSIvYXNzZXRzL2pzL3NpbXBsZS1qZWt5bGwtc2VhcmNo
Lm1pbi5qcyI+PC9zY3JpcHQ+CiAgICA8c2NyaXB0PgogICAgICAgIGZ1bmN0
aW9uIGNoYW5nZVJlc3VsdENvbnRhaW5lckRpc3AodmFsKSB7CiAgICAgICAg
ICAgIGlmICh2YWwpIHsKICAgICAgICAgICAgICAgIGRvY3VtZW50LmdldEVs
ZW1lbnRCeUlkKCJyZXN1bHRzLWNvbnRhaW5lciIpLnN0eWxlLmRpc3BsYXkg
PSAiYmxvY2siOwogICAgICAgICAgICAgICAgZG9jdW1lbnQuZ2V0RWxlbWVu
dEJ5SWQoInNlYXJjaC1pbnB1dCIpLmFkZEV2ZW50TGlzdGVuZXIoJ2JsdXIn
LCBmdW5jdGlvbigpIHsKICAgICAgICAgICAgICAgICAgICBkb2N1bWVudC5h
ZGRFdmVudExpc3RlbmVyKCdjbGljaycsIGZ1bmN0aW9uKGV2ZW50KSB7CiAg
ICAgICAgICAgICAgICAgICAgICAgIHZhciBpc0NsaWNrSW5zaWRlID0gZG9j
dW1lbnQuZ2V0RWxlbWVudEJ5SWQoInJlc3VsdHMtY29udGFpbmVyIikuY29u
dGFpbnMoZXZlbnQudGFyZ2V0KTsKICAgICAgICAgICAgICAgICAgICAgICAg
aWYgKCFpc0NsaWNrSW5zaWRlKSB7CiAgICAgICAgICAgICAgICAgICAgICAg
ICAgICBkb2N1bWVudC5nZXRFbGVtZW50QnlJZCgicmVzdWx0cy1jb250YWlu
ZXIiKS5zdHlsZS5kaXNwbGF5ID0gIm5vbmUiOwogICAgICAgICAgICAgICAg
ICAgICAgICB9CiAgICAgICAgICAgICAgICAgICAgfSkKICAgICAgICAgICAg
ICAgIH0pIAogICAgICAgICAgICB9ICBlbHNlIHsKICAgICAgICAgICAgICAg
IGRvY3VtZW50LmdldEVsZW1lbnRCeUlkKCJyZXN1bHRzLWNvbnRhaW5lciIp
LnN0eWxlLmRpc3BsYXkgPSAibm9uZSI7CiAgICAgICAgICAgIH0KICAgICAg
ICB9CiAgICAgICAgdmFyIHNqcyA9IFNpbXBsZUpla3lsbFNlYXJjaCh7CiAg
ICAgICAgICAgICAgICAgICAgc2VhcmNoSW5wdXQ6IGRvY3VtZW50LmdldEVs
ZW1lbnRCeUlkKCdzZWFyY2gtaW5wdXQnKSwKICAgICAgICAgICAgICAgICAg
ICByZXN1bHRzQ29udGFpbmVyOiBkb2N1bWVudC5nZXRFbGVtZW50QnlJZCgn
cmVzdWx0cy1jb250YWluZXInKSwKICAgICAgICAgICAgICAgICAgICBqc29u
OiAnL3NlYXJjaC5qc29uJywKICAgICAgICAgICAgICAgICAgICBzZWFyY2hS
ZXN1bHRUZW1wbGF0ZTogJzxsaSBjbGFzcz0ic2VhcmNoX3JlcyIgc3R5bGU9
Imxpc3Qtc3R5bGU6IG5vbmU7Ij48YSBocmVmPSJ7eyBzaXRlLnVybCB9fXt1
cmx9IiBzdHlsZT0idGV4dC1kZWNvcmF0aW9uOiBub25lOyBjb2xvcjogIzU1
NTU1NTsiPjxwIHN0eWxlPSJmb250LXNpemU6IDEuMHJlbTsgZm9udC1mYW1p
bHk6ICJJbnRlciAhaW1wb3J0YW50IjsgZm9udC13ZWlnaHQ6IDYwMDsiPnt0
aXRsZX08L3A+PC9hPjwvbGk+JywKICAgICAgICAgICAgICAgICAgICBub1Jl
c3VsdHNUZXh0OiAnTm8gcmVzdWx0cyBmb3VuZCcsCiAgICAgICAgICAgICAg
ICAgICAgZnV6enk6IGZhbHNlLAogICAgICAgICAgICAgICAgICAgIGxpbWl0
OiA0CiAgICAgICAgICAgICAgICAgICAgfSkgICAKICAgIDwvc2NyaXB0Pgo8
L2hlYWRlcj4K
