LS0tCi0tLQoKeyUtIGluY2x1ZGUgaGVhZGVyLmh0bWwgLSV9Cgo8aDM+e3sg
cGFnZS50aXRsZSB9fTwvaDM+CjxwPnt7IGNvbnRlbnQgfX0gPC9wPgo8cD48
c3Ryb25nPlRhZ3M6PC9zdHJvbmc+IHslIGZvciB0YWcgaW4gcGFnZS50YWdz
ICV9Int7IHRhZyB9fSJ7JSB1bmxlc3MgZm9ybG9vcC5sYXN0ICV9LHslIGVu
ZHVubGVzcyAlfXslIGVuZGZvciAlfTwvcD4KeyUtIGlmIHBhZ2UuY3N2X3Vy
bCAhPSAnJyAtJX0gICA8cD48YSBocmVmPSJ7eyBwYWdlLmNzdl91cmwgfX0i
PiYjODYxNDsgQ1NWIERvd25sb2FkPC9hPjwvcD57JSBlbmRpZiAlfQp7JS0g
aWYgcGFnZS5qc29uX3VybCAhPSAnJyAtJX08cD48YSBocmVmPSJ7eyBwYWdl
Lmpzb25fdXJsIH19Ij4mIzg2MTQ7IEpTT04gRG93bmxvYWQ8L2E+PC9wPnsl
IGVuZGlmICV9Cjxocj4KPHRhYmxlIHN0eWxlPSJ3aWR0aDogMTAwJTsiPgog
ICAgPHRyPgogICAgICAgIDx0ZCBzdHlsZT0idGV4dC1hbGlnbjogbGVmdDsi
PgogICAgICAgICAgICB7JSBpZiBwYWdlLnByZXZpb3VzLnVybCAlfQogICAg
ICAgICAgICA8YSBjbGFzcz0icHJldiIgaHJlZj0ie3twYWdlLnByZXZpb3Vz
LnVybH19Ij4mIzg1OTI7IFByZXZpb3VzPC9hPgogICAgICAgICAgICB7JSBl
bmRpZiAlfQogICAgICAgIDwvdGQ+CiAgICAgICAgPHRkIHN0eWxlPSJ0ZXh0
LWFsaWduOiByaWdodDsiPgogICAgICAgICAgICB7JSBpZiBwYWdlLm5leHQu
dXJsICV9CiAgICAgICAgICAgIDxhIGNsYXNzPSJuZXh0IiBocmVmPSJ7e3Bh
Z2UubmV4dC51cmx9fSI+TmV4dCAmIzg1OTQ7PC9hPgogICAgICAgICAgICB7
JSBlbmRpZiAlfQogICAgICAgIDwvdGQ+CiAgICA8L3RyPgo8L3RhYmxlPiAg
ICAgICAgICAgIAoKeyUtIGluY2x1ZGUgZm9vdGVyLmh0bWwgLSV9
